
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    overflow: auto;
    /* position: absolute;
    top: 20%;
    left: 30%; */
    /*transform: translate(-50%, -50%);*/
    background-color: rgb(0, 0, 58);
    border: 1px solid #1ae5ac;
    border-radius: 5px;
    padding: 20px;
    width: 26rem;
}

.close {
    /*position: absolute;*/
    justify-self: right;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20rem;
}

#loginButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(79, 0, 136);
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: none;
    /*background-color: inherit;*/
    background-color: inherit;
}


/* #loginButton:hover{
    background-color: rgb(0, 0, 67);
} */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}

body, ul {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 29);
    color: #7fffd4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

body {
    margin-left: 13rem;
    margin-right: 13rem;
    border: 2px solid #333; /* Adjust border width and color as needed */
}

.navbar {
    background-color:  #00001d;;
    overflow: hidden;
    color: aqua;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    /* border: #262787;
    border-width: 0px 1px 3px 1px;
    border-style: solid; */
    margin: 0px 5rem 0px 5rem;
}

.navbar a{
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.loginButton:hover {
    background-color: rgb(25, 25, 140);
    transform: scale(0.95);
}

/* transition: .3s;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
transition-property: all; */

.navbar a:hover {
    background-color: rgb(0, 0, 67);
    transform: scale(0.95);
}

.navbar a.active {
    background-color: #262787;
    color:  rgb(40, 131, 243);
}


h1 {
    margin: 0;
    padding: 0;
}

.topbar {
    background-color:  rgb(0, 0, 29);
    color: rgb(0, 0, 29);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

.topbar h1 {
    font-size: 20px;
    margin: 0;
}

.topbar:hover {
    background-color:  rgb(0, 0, 58);
}

header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex; 
    align-items: center;
}

.stop-button {
    height: 20px;
    border: none;
    cursor: pointer; 
    margin-left: 3px;
    margin-right: 3px;
}

.text-container {
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
  }
  .text {
    width: 60%; 
  }
  .image {
    width: 40%; 
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
    .text, .image {
      width: 100%;
    }
}

.image-1 {
    float: left;
    margin-right: 20px; 
    margin-bottom: 5px;
    height: 300px;
    width: 300px
}

.image-2 {
    float: right;
    margin-left: 20px; 
    margin-bottom: 5px;
    height: 400px;
    width: 250px
}

.text-container-container{
    padding-right: 60px;
    padding-left: 60px;
}

.borders{
    border: #333; 
    border-width: 0px 0px 3px 0px; 
    border-style: solid; 
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
}

.text-container-1{
    text-align: justify;
}

.ui-container{
    flex: 1;
    margin-right: 60px;
}

.canvas-container{
    flex: 1; 
    margin-left: 60px;
}

.text-container-2 {
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
  }
  .text {
    width: 60%; 
  }
  .image {
    width: 40%; 
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
    .text, .image {
      width: 100%;
    }
}